.AboutMe__header {
    font-weight: 400;
    margin: 0;
    padding-bottom: 23px;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    margin-bottom: 66px;
    border-bottom: 1px solid #000000;
    align-self: stretch;
  }
  
  @media (max-width: 321px) {
    .AboutMe__header {
      font-size: 18px;
      line-height: 22px;
    }
  }