/*.MoviesCard__button {
    background-image: url('../../../images/like-button-active.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 21px;
    height: 21px;
    border: none;
  }*/