.MoviesCard__button {
    background-image: url('../../../images/save.svg');
    width: 72px;
    height: 21px;
    border: none;
    display: flex;
    position: absolute;
    top: 14px;
    border-radius: 20px;
    right: 14px;
    justify-content: center;
    align-items: center;
  }