.Footer__text {
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
  }

@media (max-width: 321px) {
  .Footer__text {
      font-size: 12px;
      line-height: 15px;
  }
}