.FilterCheckbox__visible-checkbox {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 36px;
    border-radius: 20px;
    background-image: url('../../../images/checkbox-unactive.svg');
    background-size: cover;
}

.FilterCheckbox__input:checked+.FilterCheckbox__visible-checkbox {
    background-image: url('../../../images/checkbox-active.svg');
  }