.Profile {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 60vh;
}

@media (min-width: 500px) and (max-width: 850px) {
  .Profile {
    height: 89vh;
  }
}
@media (max-width: 499px) {
  .Profile {
    height: 87vh;
  }
}