.Header__link_sign-in {
    display: block;
    background-color: black;
    border-radius: 3px;
    padding: 8px 20px;
    color: white;
  }
  
  @media (max-width: 321px) {
    .Header__link_sign-in {
        padding: 5px 12px;
      }
  }  