.about-project__scale-front {
    display: flex;
    flex-direction: column;
    width: calc((100% / 5)*4);
  }

@media (max-width: 321px) {
.about-project__scale-front {
    width: calc((100% / 3)*2);
}
}