.Movies__search {
    display: flex;
    justify-content: center;
    background: #F9F9F9;
    border-radius: 9px 0 0 9px;
}

@media screen and (max-width: 768px) {
    .Movies__search {
        width: 92.1875vw;
    }
}

@media screen and (max-width: 666px) {
    .Movies__search {
        border-radius: 9px;
    }
}

@media screen and (max-width: 321px) {
    .Movies__search {
        width: 93.75vw;
        margin-left: auto;
        margin-right: auto;
    }
}