.Header__account-icon {
    height: 30px;
    width: 26px;
    background-color: #F9F9F9;
    background-image: url(../../../images/account-icon.svg);
    background-size: 11px 14px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 4px;
  }