.portfolio__icon {
    background-image: url('../../../images/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 29px;
    height: 60px;
  }

@media (min-width: 500px) and (max-width: 850px) {  
    .portfolio__icon {
        width: 19px;
    }
}

@media (max-width: 321px) {
    .portfolio__icon {
        width: 13px;
    }
}