.SearchForm__button {
    height: 34px;
    width: 59px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0 0 0 6px;
    background-color: black;
    border: none;
    border-radius: 48px;
    color: white;
    font-size: 11px;
    font-weight: 500;
  }
  
  .SearchForm__button:hover {
    opacity: .6;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .SearchForm__button {
        padding: 0;
        margin: 0px;
      }
  }

  @media screen and (max-width: 450px) {
    .SearchForm__button {
        margin: 0 20px 0 0;
      }
  }