.menu__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 28px;
    padding: 0;
    text-decoration: none;
  }
  
  .menu__link:last-of-type {
    margin-bottom: 0;
  }

@media screen and (max-width: 767px) {
    .menu__link {
        margin-bottom: 24px;
    }
 }