.SearchForm__shortfilms {
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0 7px 0 0;
  }

  @media screen and (max-width: 768px) {
    .SearchForm__shortfilms {
        margin: 0 5px 0 0;
      }
  }

  @media screen and (max-width: 450px) {
    .SearchForm__shortfilms {
        font-size: 11px;
        margin: 0;
      }
  }