.MoviesCard__button_delete {
    position: absolute;
    top: 20px;
    right: 27px;
    background-image: url('../../../../images/delete-button.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: 0.35s;
  }