.NavTab__link {
    text-decoration: underline;
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
  }

@media (max-width: 321px) {
    .NavTab__link {
        font-size: 11px;
        line-height: 16px;
    }
}